
*.iml
.idea/modules.xml
.ipynb_checkpoints/*

__pycache__/helper.cpython-36.pyc
electronics-10-02353-v2.pdf
intro-to-pytorch
intro-neural-networks
flower_photos
flowers
intro-to-pytorch
intro-to-pytorch
helper.py
convolutional-neural-networks
model_equal.pt
transferlearning_model_equal.pt
first_neural_network
Bewässerungszeiten-Datensatz
Camera.ipynb
*.pyc
*.pt
houseplant_images_kaggle
Untitled.ipynb
first_neural_network
alternative_dens_net
nn_weights.csv
nn_weights_.csv
Neural Network Nasil Calisir.ipynb
