
*.iml
.idea/modules.xml
.ipynb_checkpoints/*

__pycache__/helper.cpython-36.pyc
electronics-10-02353-v2.pdf
intro-to-pytorch
intro-neural-networks
flower_photos
flowers
intro-to-pytorch
intro-to-pytorch
helper.py
convolutional-neural-networks
model_equal.pt
transferlearning_model_equal.pt
